body{
    background-image: url(bilder/personvern\ bilde.webp);
    background-size: cover;
    text-align: center;
}

h1 {
    background: rgba(46, 16, 104, 0.678);
    color: white;
}

.Grid {display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: auto auto auto auto;
gap: 10px;
grid-template-areas: 
    'hei hei hei hei hei'
    'tekst tekst tekst tekst tekst';}

.Hei {grid-column: 2 / span 3;
grid-row: 1;
text-align: center;
margin: 10px;
font-family: 'Times New Roman', Times, serif;
color: white;
background-color: rgba(46, 16, 104, 0.678);
grid-area: hei;
}

.Video {grid-column: 2 / span 3;
margin: 10px;
grid-row: 2;
grid-area: video;}

.Tekst {grid-column: 2 / span 3;
grid-row: 3;
text-align: center;
margin: 10px;
font-family: 'Times New Roman', Times, serif;
color: white;
background: rgba(46, 16, 104, 0.678);
grid-area: tekst;}

.undertekst {grid-column: 2 / span 3;
    grid-row: 4;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: rgba(46, 16, 104, 0.678);}

.undertekst1 {grid-column: 2 / span 3;
    grid-row: 5;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: rgba(46, 16, 104, 0.678);}

.listeomprinsippene {grid-column: 2 / span 3;
    grid-row: 6;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: rgba(46, 16, 104, 0.678);}

.kilder {grid-column: 2 / span 3;
    grid-row: 7;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: rgba(46, 16, 104, 0.678);}

.Meny ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgba(46, 16, 104, 0.678);}

.Meny li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Meny li {
    float: left;
}

.Meny li a:hover {
    background-color:black;
}


button {width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 5px 1px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid black;
    background: transparent;
    background-color: rgba(46, 16, 104, 0.623);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;}

span {background-color: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1.0s;}

button:hover span {width: 100%;
}

button:hover {
    border:none;
}